*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
body{
    min-height: 100vh;
    background-color: rgb(250, 190, 220);
    background-size: cover;
    font-family: courier, serif;
}

nav{
    background-color: rgb(249, 152, 201);
   margin: 0;
}
nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
}
nav li{
    height: 100px;
}
nav a{
    height: 100%;
    padding: 0;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
    flex-grow: 1;
}
nav a:hover {
    background-color: rgb(250, 190, 220);
}
.headbar{
    padding-right: auto;
    padding-left: 50px;
}
.menu-button{
    display: none;
}
.sidebar{
position: fixed;
top: 0;
right: 0;
height: 100vh;
width: 250px;
background-color: rgb(254, 250, 113, 0.6);
backdrop-filter: blur(10px);
z-index: 999;
box-shadow: rgba(250, 190, 220, .7);
display: none;
flex-direction: column;
align-items: flex-start;
justify-content: flex-start;
}

.sidebar li {
    width: 100%;
}

.sidebar li a {
    padding-left: 20px;
}

.logo-btn-image{
    height: 100px; 
    position: fixed;
    margin: 0;
    padding: 12px;
    z-index: 998;
}
.section-header{
    display: flex;
    min-height: 100px;
    align-items: center;
    justify-content: right;
}
h2{
    font-size: 6vw;
    text-align: right;
    padding-right: 20px;
}

.intro-component{
    display: block;
    justify-content: center;
    text-align: center;
    padding: 1rem;
    margin: 0.5rem 0;
    border-radius: 8px;
}

.bio-text{
    display: block;
    justify-content: center;
    text-align: center;
    padding: 1rem;
    margin: 0.5rem 0;
    border-radius: 8px;
}
.bio-text p{
    padding-bottom: 15px;
}
.intro-component p{
    padding-bottom: 15px;
}

.gallery-section{
    display: flex;
    align-items: center;
    justify-content: center;
}
.gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 90vw;
}
.bio-pic {
    display: block;
    width: 250px;
    float: left;
    padding: 10px;
}
.image-container {
    column-count: 3;
    column-gap: space-between;
    width: 100%;
}
.text-card p {
    padding: 25px;
    justify-content: right;
    text-align: center;
}

.text-card {
    display: block;
    justify-self: center;
    width: 90vw;
    padding: auto;
    background-color: rgba(255, 255, 255, 0.167);
}

.image-card {
    position: relative;
    display: inline-block;
    background-color: rgb(255, 255, 255, 0.2);
    width: 100%;
    margin: 0 0 1rem;
    break-inside: avoid;
}
.image-card img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    filter: opacity(50%);
    transition: filter 0.5s ease;
}
.image-card p {
    display: block;
   opacity: 0.5;
   margin: 1rem;
}
.image-description {
    display: none;
}
.image-card::after {
    content: attr(data-description);
    position: absolute;
    top:15%;
    left: 28%;
    transform: translateX(-50%) translateY(.75rem);
    background: none;
    color: rgb(250, 190, 220);
    padding: 0.4rem 0.6rem;
    border-radius: 0.25rem;
    font-size: 4vw; 
    font-width: bold;
    line-height: 1.2;
    opacity: 0%;
    pointer-events: none;
    transition: opacity .5s ease, transform 0.5s ease;
    max-width: 50%;
    text-align: left;
    text-shadow: 2px 2px 0 rgb(182, 120, 120);
}
.image-card:hover img {
    filter: opacity(100%);
}
.image-card:hover p {
    opacity: 1;
}
.image-card:hover::after {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
}

.skill-section{
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.skill-wrapper{
    column-count: 2;
    column-gap: space-between;
    width: 100%;
}
.skill-card{
    display: flex;
    break-inside: avoid;
    position: relative;
    display: block;
    background-color: rgba(249, 191, 246, 0.368);
    width: 100%;
    margin: 0 0 1rem;
}
.skill-card h3{
    padding: 10px;
    text-align: center;
    background-color: #ffed88;
}

.skill-card p{
    padding: 20px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.167);
}

.skill-card ul{
    padding: 20px;
    list-style: none;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.167);
}
.skill-card li{
    margin-bottom: 1rem;
}

.button-52 {
    display: inline;
    font-size: 2vw;
    font-weight: 100;
    letter-spacing: 1px;
    padding: 1vw;
    margin: 1vw;
    outline: 0;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    background-color: rgb(255, 255, 1, .1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
.button-52 a {
    text-decoration: none;
    color: black;
}

.button-52:after {
    justify-content: space-between;
    content: "    ";
    background-color: #ffed88;
    border-radius: 5px;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 4px;
    left: 4px;
    transition: 0.2s;
}

.button-52:hover:after {
  top: 0px;
  left: 0px;
}
.contact{
    display: block;
    height: 100vh;
}
.contact-info {
    padding: 20px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
}
.contact-info a{
    padding: 20px;
}

@media (max-width: 750px) {
    .image-container {
        column-count: 2;
    }
    .image-card::after {
    font-size: 6vw;
    }
}

@media (max-width: 450px) {
    .image-container {
        column-count: 1;
    }
    .image-card::after {
    font-size: 8vw;
    }
    .sidebar {
        width: 100vw;
    }
    h2{
    padding-top: 20px;
    padding-bottom: 20px;
    }
    .bio-pic{
        width: 95vw;
    }
    .contact-info {
        padding: 20px;
        margin: 0 0 150px 0;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 60vh;
    }
    .contact-info a {
        padding: 50px;
        font-size: 5vw;
    }
}
@media (max-width:450px) {
    .hideOnMobile {
        display: none;
    }   

    .menu-button{
        display: block;
        padding-right: 5vw;
    }
    nav ul {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    }
    .skill-wrapper{
        column-count: 1;
    }
}
@media (max-width: 700px) {
    .intro {
        gap: 1rem;
    }
}